<!DOCTYPE html>
<html>
<head>
  <title>Happyfeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Logged in as: <%= current_user.email %>, <%= link_to 'logout', logout_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
